.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 115px;
}

.add-button {
    color: #1b7a0e;
    cursor: pointer;
}

.overlay {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0,0,0,0.7); /* Black background with opacity */
}

.popup {
  background-color: #0F0F03;
  margin: 15% auto; /* 15% from the top and centered horizontally */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 500px;
  position: relative;
  text-align: center;
}

.trash-icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
}